DB_ENGINE=django.db.backends.mysql
DB_NAME=tu_nombre_de_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=3306

# Configuración de Django
SECRET_KEY=clave_secreta
DEBUG=True

# Hosts permitidos (separados por comas)
ALLOWED_HOSTS=localhost,127.0.0.1,tu-dominio.com